= form_for @booking do |f|
  - if @booking.errors.any?
    #error_explanation
      %h2= "#{pluralize(@booking.errors.count, "error")} prohibited this booking from being saved:"
      %ul
        - @booking.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name, required: true
  .field
    = f.label :date
    = f.date_select :date, required: true
  .field
    = f.label :days
    = f.number_field :days, required: true
  .field
    = f.label :room_type
    = f.select :room_type, [["Grand Garden Pavilion King Room",1],["Grand Garden Pavilion Twin Room",2], ["Terrace Suite",3], ["Ocean Delux Villa",4], ["Beach Villa",5], ["La maison",6]],{}, {required: true, id: 'roomtype', :onChange=>"handler();", :prompt => "Select room type."}
  #state_people.field
    = f.label :peoples
    = f.select :peoples,[[1,1],[2,2]]
  .field
    = f.label :phone
    = f.text_field :phone, required: true
  .actions
    = f.submit 'Book'

:javascript
  document.getElementById('state_people').style.display = 'none';
  function handler()
  {
    var type=document.getElementById("roomtype").value;
    var s = document.getElementById('booking_peoples');

    if(type == 1 || type == 2 || type == 3 || type == 4 || type == 5)
    {
      document.getElementById('state_people').style.display = 'inline';
    }
    else if(type == 6)
    {
      document.getElementById('state_people').style.display = 'inline';
      s.options[s.options.length]= new Option('3', '3');
      s.options[s.options.length]= new Option('4', '4');
    }
    else{
      document.getElementById('state_people').style.display = 'none';
    }
  }
