.booking-body
  %p#notice= notice

  %p
    %b Name:
    = @booking.name
  %p
    %b Date:
    = @booking.date
  %p
    %b Days:
    = @booking.days
  %p
    %b Peoples:
    = @booking.peoples
  %p
    %b Room type:
    -if @booking.room_type == '1'
      = "Grand Garden Pavilion King Room"
    -elsif @booking.room_type == '2'
      = 'Grand Garden Pavilion Twin Room'
    -elsif @booking.room_type == '3'
      = 'Terrace Suite'
    -elsif @booking.room_type == '4'
      = 'Ocean Delux Villa'
    -elsif @booking.room_type == '5'
      = 'Beach Villa'
    -elsif @booking.room_type == '6'
      = 'La maison'

  %p
    %b Phone:
    = @booking.phone

  = link_to 'Edit', edit_booking_path(@booking)
  \|
  = link_to 'Back', bookings_path
