<div class="layana">
  Layana
</div>

<div class="booking-body">
  <div >

      <main >
        <div align="center">
          <br>
          <table id="table_content">
            <tr>
              <td>
                <img src="/images/p-01.jpg" width="100%">
              </td>
              <td style="padding: 50px">
                <h3>
                  สัมผัสบริการระดับโลกที่ <br>Layana Resort & Spa<br><br>
                </h3>
                <p>
                  Layana Resort & Spa
                  เป็นที่พักซึ่งเหมาะสำหรับผู้ใหญ่และล้อมรอบด้วยแมกไม้เขตร้อนเขียวชอุ่มบนพื้นที่เกาะลันตา
                  และมีวิวทะเลสวยงาม ที่พักมีสระว่ายน้ำอินฟินตี้กลางแจ้งและห้องพักมีอินเทอร์เน็ตไร้สาย (WiFi) ฟรี
                  ผู้เข้าพักสามารถเดินจากรีสอร์ทไปหาดยาวได้โดยตรง
                </p>
              </td>
            </tr>
            <tr>
              <td style="padding: 50px">
                <p>
                  Layana Resort ตั้งอยู่บนผืนทรายสีขาวภายในเขตอุทยานแห่งชาติหมู่เกาะลันตา
                  สนามบินกระบี่อยู่ห่างออกไปโดยใช้เวลาเดินทางด้วยรถยนต์เป็นเวลา 2 ชม.
                  หรือ 70 กม. จากรีสอร์ท ที่พักมีบริการรับส่งสนามบินเมื่อแจ้งคำขอ และมีค่าธรรมเนียมเพิ่มเติม

                </p>
              </td>
              <td>
                <img src="/images/p-02.jpg" width="100%">
              </td>
            </tr>
            <tr>
              <td>
                <img src="/images/p-03.jpg" width="100%">
              </td>
              <td style="padding: 50px">
                <p>
                  ห้องพักที่ Layana Resort มีสถาปัตยกรรมไทยสมัยใหม่และตกแต่งด้วยผ้าไหมและเฟอร์นิเจอร์ไม้เนื้อแข็ง
                  ห้องพักแต่ละห้องมีโทรทัศน์ระบบช่องสัญญาณดาวเทียม
                  เครื่องเล่นดีวีดี เตียงนอนเล่น ห้องน้ำในตัวพร้อมฝักบัว และอ่างอาบน้ำแยกเป็นสัดส่วน

                </p>
              </td>
            </tr>
            <tr>
              <td style="padding: 50px">
                <p>
                  ผู้เข้าพักสามารถออกกำลังกายเรียกเหงื่อที่ศูนย์ออกกำลังกาย
                  หรือผ่อนคลายด้วยการอ่านหนังสือในห้องสมุดซึ่งมีหนังสือหลากประเภท สปา Linger Longer Spa
                  ซึ่งได้รับรางวัลของรีสอร์ทตั้งอยู่ในสวนและมีบริการนวดผ่อนคลายและทรีทเมนท์ผิวหน้า

                </p>
              </td>
              <td>
                <img src="/images/p-04.jpg" width="100%">
              </td>
            </tr>
            <tr>
              <td>
                <img src="/images/p-05.jpg" width="100%">
              </td>
              <td style="padding: 50px">
                <p>
                  ห้องอาหาร Sea Sky Restaurant มีบริการอาหารนานาชาติ อาหารทะเลสดใหม่ และอาหารไทยต้นตำรับหลากรายการ
                  ซึ่งท่านสามารถรับบริการได้ที่ริมสระว่ายน้ำ
                  หรือบนชายหาด ขณะที่บาร์ให้บริการเครื่องดื่มเพื่อเพิ่มความสดชื่น

                </p>
              </td>
            </tr>
            <tr>
              <td style="padding: 50px">
                <p>
                  ที่พักแห่งนี้ได้รับการลงความเห็นว่ามีทำเลดีและคุ้มค่าเงินที่สุดในเกาะลันตา!
                  โดยผู้เข้าพักชอบทำเลของที่นี่มากกว่าเมื่อเปรียบเทียบกับที่พักอื่น ๆ ในย่านนี้
                </p>
              </td>
              <td>
                <img src="/images/p-06.jpg" width="100%">
              </td>
            </tr>
          </table>
          <br>
        </div>
      </main>
    </div>

  </div>
</div>
