<div class="booking-body">
  <main class="site-main">
    <div class="rs" align="center">
      <br>
      <br>
      <table style=" width: 60%;border-radius: 15%">
        <tr>
          <th  width="250px" height="100">
            <h2>พักได้สูงสุด</h2>
          </th>
          <th height="100">
            <h2>ประเภทห้องพัก</h2>
          </th>
        </tr>
        <tr style="border: 0px solid black">
          <td style="border: 0px solid black">
            <div align="center">
            <img src="/images/man.png" width="40" height="40">
            <img src="/images/man.png" width="40" height="40">
            </div>
          </td>
          <td align="left">
            <a href="/roomtype/room1">Grand Garden Pavilion King Room</a>
            <br>
            1 คิงไซส์
          </td>
          <td align="right">
            <img src="/images/king.png" width="40" height="40">
          </td>
        </tr>

        <tr style="border: 0px solid black">
          <td style="border: 0px solid black">
            <div align="center">
            <img src="/images/man.png" width="40" height="40">
            <img src="/images/man.png" width="40" height="40">
            </div>
          </td>
          <td align="left">
            <a href="/roomtype/room2">Grand Garden Pavilion Twin Room</a>
            <br>
            2 เตียงเดี่ยว
          </td>
          <td align="right">
            <img src="/images/double.png" width="40" height="40">
          </td>
        </tr>

        <tr >
          <td >
            <div align="center">
            <img src="/images/man.png" width="40" height="40">
            <img src="/images/man.png" width="40" height="40">
            </div>
          </td>
          <td align="left">
            <a href="/roomtype/room3">Terrace Suite</a>
            <br>
            1 คิงไซส์
          </td>
          <td align="right">
            <img src="/images/king.png" width="40" height="40">
          </td>
        </tr>

        <tr >
          <td >
            <div align="center">
            <img src="/images/man.png" width="40" height="40">
            <img src="/images/man.png" width="40" height="40">
            </div>
          </td>
          <td align="left">
            <a href="/roomtype/room4">Ocean Delux Villa</a>
            <br>
            1 คิงไซส์
          </td>
          <td align="right">
            <img src="/images/king.png" width="40" height="40">
          </td>
        </tr>

        <tr >
          <td >
            <div align="center">
            <img src="/images/man.png" width="40" height="40">
            <img src="/images/man.png" width="40" height="40">
            </div>
          </td>
          <td align="left">
            <a href="/roomtype/room5">Beach Villa</a>
            <br>
            1 คิงไซส์
          </td>
          <td align="right">
            <img src="/images/king.png" width="40" height="40">
          </td>
        </tr>

        <tr >
          <td >
            <div align="center">
            <img src="/images/man.png" width="40" height="40">
            <img src="/images/man.png" width="40" height="40">
            <img src="/images/man.png" width="40" height="40">
            <img src="/images/man.png" width="40" height="40">
            </div>
          </td>
          <td align="left">
            <table>
              <tr height="10">
                <a href="/roomtype/room6">La maison</a>
              </tr>
            </table>
            <table>
              <tr height="10">
                ห้องนอน 1: 1 คิงไซส์
              </tr>
            </table>
            <table>
              <tr height="10">
                หห้องนอน 2: 1 คิงไซส์
              </tr>
            </table>
            <table>
              <tr height="10">
                ห้องนั่งเล่น: 1 เตียงโซฟา
              </tr>
            </table>
          </td>
          <td align="right">
            <table>
              <tr height="20">
              </tr>
            </table>
            <table>
              <tr>
                <img src="/images/king.png" width="40" height="40">
              </tr>
            </table>
            <table>
              <tr>
                <img src="/images/king.png" width="40" height="40">
              </tr>
            </table>
            <table>
              <tr>
                <img src="/images/sofa.png" width="40" height="40">
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <br>
      <a style="
      display: block;
          text-decoration: none;
          color: white;
          padding: 10px 20px;
          border-radius: 8px;
          background-color: dimgray;
          width: 60px" href="/bookings/index">จองเลย</a></li><br>
    </div>

  </main>
</div>