<div class="booking-body">
  <main class="site-main">
    <div align="center">
      <br>
      <h3>La maison</h3>
      ขนาดวิลลา : 264 ม.², ห้องน้ำ 2 ห้อง<br>
      วิลลามีระเบียง เครื่องปรับอากาศ และแท่นวาง iPod<br>
      <br>
      <div class="room1">
        <div class="pic">
          <img src="/images/room/6/30667241.jpg" width="100%" style="border-radius: 20px">
        </div>
        <div class="pic">
          <img src="/images/room/6/30667245.jpg" width="100%" style="border-radius: 20px">
        </div>
        <div class="pic">
          <img src="/images/room/6/30667250.jpg" width="100%" style="border-radius: 20px">
        </div>
        <div class="pic">
          <img src="/images/room/6/127536550.jpg" width="100%" style="border-radius: 20px">
        </div>
        <div class="pic">
          <img src="/images/room/6/127536552.jpg" width="100%" style="border-radius: 20px">
        </div>
        <div class="pic">
          <img src="/images/room/6/127536559.jpg" width="100%" style="border-radius: 20px">
        </div>
        <div class="pic">
          <img src="/images/room/6/127536570.jpg" width="100%" style="border-radius: 20px">
        </div>
        <div class="pic">
          <img src="/images/room/6/127536573.jpg" width="100%" style="border-radius: 20px">
        </div>
        <div class="pic">
          <img src="/images/room/6/127536581.jpg" width="100%" style="border-radius: 20px">
        </div>
        <div class="pic">
          <img src="/images/room/6/127536556.jpg" width="100%" style="border-radius: 20px">
          <br>
          <img src="/images/room/6/127536554.jpg" width="100%" style="border-radius: 20px">
        </div>
        <div class="pic">
          <img src="/images/room/6/127536567.jpg" width="100%" style="border-radius: 20px">
        </div>
        <div class="pic">
          <img src="/images/room/6/127536564.jpg" width="100%" style="border-radius: 20px">
          <br>
          <img src="/images/room/6/127536560.jpg" width="100%" style="border-radius: 20px">

        </div>
        <div class="pic">

        </div>
        <div class="pic">

        </div>
        <div class="pic">

        </div>
        <div class="head">
          <h4>สิ่งอำนวยความสะดวก</h4>
        </div>
        <div class="head">

        </div>
        <div class="head">

        </div>
        <div class="bod">
          <ul>
            <li>ระเบียง</li>
            <li>ทิวทัศน์</li>
            <li>วิวสวนหย่อม</li>
            <li>ลานระเบียง</li>
            <li>โทรทัศน์</li>
            <li>โทรศัพท์</li>
            <li>เครื่องเล่นดีวีดี</li>
            <li>ช่องรายการดาวเทียม</li>
            <li>โทรทัศน์จอแบน</li>
            <li>แท่นวาง iPod</li>
            <li>ตู้นิรภัย</li>
            <li>เครื่องปรับอากาศ</li>
            <li>เตารีด</li>
            <li>พื้นที่นั่งเล่น</li>
            <li>พัดลม</li>
          </ul>
        </div>
        <div class="bod">
          <ul>
            <li>โซฟา</li>
            <li>เครื่องอบผ้า</li>
            <li>ตู้หรือห้องเก็บเสื้อผ้า</li>
            <li>เตียงพับ</li>
            <li>เตียงโซฟา</li>
            <li>ห้องน้ำส่วนตัว</li>
            <li>เครื่องใช้ในห้องน้ำฟรี</li>
            <li>ฝักบัว</li>
            <li>อ่างอาบน้ำ</li>
            <li>โถสุขภัณฑ์พร้อมราวจับ</li>
            <li>พื้นที่อาบน้ำรองรับเก้าอี้รถเข็น</li>
            <li>พื้นที่อาบน้ำฝักบัวแบบวอล์กอิน</li>
            <li>ฝักบัวพร้อมเก้าอี้</li>
            <li>เครื่องเป่าผม</li>
            <li>เสื้อคลุมอาบน้ำ</li>
          </ul>
        </div>
        <div class="bod">
          <ul>
            <li>รองเท้าแตะ</li>
            <li>บิเดต์</li>
            <li>กระดาษชำระ</li>
            <li>มินิบาร์</li>
            <li>ตู้เย็น</li>
            <li>กาต้มน้ำไฟฟ้า</li>
            <li>เครื่องชงกาแฟ</li>
            <li>โต๊ะทานอาหาร</li>
            <li>เฟอร์นิเจอร์กลางแจ้ง</li>
            <li>พื้นที่รับประทานอาหารกลางแจ้ง</li>
            <li>บริการโทรปลุก</li>
            <li>ผ้าเช็ดตัว/ผ้าปูที่นอน (มีค่าธรรมเนียม)</li>
            <li>หนังสือ ดีวีดี หรือเพลงสำหรับเด็ก</li>

          </ul>
        </div>
      </div>
      <br>
      <a style="
      display: block;
          text-decoration: none;
          color: white;
          padding: 10px 20px;
          border-radius: 8px;
          background-color: dimgray;
          width: 60px" href="/bookings/index">จองเลย</a></li><br>
    </div>

  </main>
</div>