<script>
  function onClick(element) {
    document.getElementById("img01").src = element.src;
    document.getElementById("modal01").style.display = "block";
  }
</script>
<body>
<div class="content">
  <div class="container">
    <header>
      <h1><u>About</u></h1>
    </header>
    <s1>
      <h2> Team member </h2>
      <div class="groupname">
        กัญญาภรณ์ สร้อยคำพา 5910520054<br>
        วิศววิท ฤทธิศรธนู 5910613214<br>
        โฆษิต สุขบรรเทิง 5910613388<br>
        ธนพล บุญมาก 5910680379
      </div>
      <br>
      <br>
      <h2>Links</h2>
      <a href="https://drive.google.com/file/d/1u6TnvV_R2VMEPe9sHUn399EErXJepg51/view?usp=sharing"><button class="button button1">Proposal</button></a>
      <a href="https://gitlab.com/5910613388/layana"><button class="button button1">Git</button></a>
      <a href="https://www.pivotaltracker.com/n/projects/2406996"><button class="button button1">Pivotal tracker</button></a>
    </s1>
    <s2>
      <h2>User Story</h2>
      <div>
        <img id="myImg" src="/images/1.jpg" width="35%" onclick="onClick(this)" class="modal-hover-opacity">
        <img id="myImg" src="/images/2.jpg" width="35%" onclick="onClick(this)" class="modal-hover-opacity">
        <img id="myImg" src="/images/3.jpg"width="35%" onclick="onClick(this)" class="modal-hover-opacity">
        <img id="myImg" src="/images/4.jpg"width="35%" onclick="onClick(this)" class="modal-hover-opacity">
        <img id="myImg" src="/images/5.jpg" width="35%" onclick="onClick(this)" class="modal-hover-opacity">
        <img id="myImg" src="/images/6.jpg" width="35%" onclick="onClick(this)" class="modal-hover-opacity">
      </div>
      <div id="modal01" class="modal" onclick="this.style.display='none'">
        <span class="close">&times;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <div class="modal-content">
          <img id="img01" style="max-width:100%">
        </div>
      </div>
    </s2>
  </div>
</div>
</body>