// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  display: grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
          "header header"
          "s1 s2";
}
header{
  grid-area: header;
}
s1{
  padding-top: 10%;
  grid-area: s1;
}
s2{
  grid-area: s2;
}
body{
  text-align: center;
  background-image: url('/images/bg-00.jpg');
  background-size: 100%;
  margin: 0;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}
.button1:hover {
  background-color: #4CAF50;
  color: white;
}
.content {
  height: 84%;
  width: 90%;
  background: white;
  background-color: rgba(255,255,255,0.7);

  position: fixed;
  //padding-top: 10%;
  top: 10.5%;
  left: 5%;
  //margin-top: -100px;
  //margin-left: -200px;
}
.groupname{
  text-align: center;
}

.modal {
  z-index:1;
  display:none;
  padding-top:10px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.8)
}

.modal-content{
  margin: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.modal-hover-opacity {
  opacity:1;
  filter:alpha(opacity=100);
  -webkit-backface-visibility:hidden
}

.modal-hover-opacity:hover {
  opacity:0.60;
  filter:alpha(opacity=60);
  -webkit-backface-visibility:hidden
}


.close {
  text-decoration:none;float:right;font-size:24px;font-weight:bold;color:white
}
.container1 {
  width:200px;
  display:inline-block;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}
