/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


/*#navbar {*/
/*    overflow: auto;*/
/*    background-color: #333;*/
/*}*/

/*#navbar a {*/
/*    float: left;*/
/*    display: block;*/
/*    color: #f2f2f2;*/
/*    text-align: center;*/
/*    padding: 14px 16px;*/
/*    text-decoration: none;*/
/*    font-size: 17px;*/
/*}*/

/*#navbar a:hover {*/
/*    background-color: #ddd;*/
/*    color: black;*/
/*}*/

/*#navbar a.active {*/
/*    background-color: #4CAF50;*/
/*    color: white;*/
/*}*/

/*.sticky {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    width: 100%;*/
/*}*/

/*.sticky + .content {*/
/*    padding-top: 60px;*/
/*}*/