// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.booking-body{
  text-align: center;
  background: white;
  background-color: rgba(255,255,255,0.7);
  padding: 10px;
  padding-bottom: 15px;
  margin: 100px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}
.button1:hover {
  background-color: #4CAF50;
  color: white;
}
a:hover {
  color: #bbc3cc;
  border-bottom: 1px solid #bbc3cc;
}

//search
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #4CAF50;
  border-right: none;
  padding: 2px;
  padding-left: 10px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 120%;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #3ca193;
}

.searchButton {
  width: 40px;
  height: 30px;
  border: 1px solid #4CAF50;
  background: #4CAF50;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  position: fixed;
  width: 25%;
  left: 73%;
  top: 8px;
  z-index: 999;
}