// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "header header"
        "s1 s2";
}
header{
    grid-area: header;
}
s1{
    padding-top: 10%;
    grid-area: s1;
}
s2{
    grid-area: s2;
}
body{
    text-align: center;
    //background-image: url('bg-00.jpg');
    margin: 0;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
.button1:hover {
    background-color: #4CAF50;
    color: white;
}
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
.content {
    height: 84%;
    width: 90%;
    background: white;
    background-color: rgba(255,255,255,0.7);

    position: fixed;
    //padding-top: 10%;
    top: 10.5%;
    left: 5%;
    //margin-top: -100px;
    //margin-left: -200px;
}
.groupname{
    text-align: center;
}
  