<header>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/roomtype/index">RoomType</a>
    <a href="/bookings/index">Booking</a>
    <a href="/about/index">About</a>
  </div>
</header>